<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div class="parent"  style="background-color: #f2f2f2">
            <div class="p1" style="display: flex;justify-content: center">
                <div style="width: 200px;height: 500px;background-color: lightblue"></div>
                <div style="width: 500px;height: 1900px;background-color: burlywood" ></div>

            </div>
        </div>

    </div>


</body>
</html>